@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');

html,
body {
  background-color: #0d0b0e;
  padding: 0;
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: #f0edf5d2;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: #f0edf5d2;
  background: #733ad540;
}

::selection {
  color: #f0edf5d2;
  background: #733ad540;
}
